<h1>About Us</h1>
<p>
    <a href="http://omrails.com/">Be Smart</a>
    is a project to teach 
    <a href="http://rubyonrails.org/">Finances</a> 
    . This is the sample application.
	<img src="http://wisesyracuse.files.wordpress.com/2012/07/financewordcloud.jpg" id="il_fi" height="260" width="462" 		
	style="padding-right: 8px; padding-top: 8px; padding-bottom: 8px;">	
</p>